.paragraph {
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.font-change {
    font-style: italic;
}

.underline {
    text-decoration: underline;
}

.container {
    text-align: center;
}

.heading {
    font-family: "Playfair Display";
    font-style: italic;
}

.container-paragraph {
    font-family: "Roboto";
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}
