@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.bg-container {
    background-color: #000000;
    text-align: center;
    padding: 40px;
}

.heading {
    font-family: "Monoton";
    color: #FF1493;
}

.button {
    font-family: "Bree Serif";
    background-color: #FFD700;
    border-style: dotted;
    border-width: 2px;
    border-color: #000000;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

.paragraph {
    font-family: "Roboto";
    color: #FFFFFF;
    font-weight: none;
}
